@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
  width: 100%;
  height: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._no-webp .work-animation {
  background: url(../img/sky.jpg) 0 0/cover repeat-x; }

.work-animation {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

._no-webp .work-animation__city {
  background: url("../img/city.png") 0 0/20% 96% repeat-x; }

.work-animation__city {
  width: 500%;
  height: 25%;
  position: absolute;
  bottom: 89px;
  left: 0;
  display: block;
  z-index: 1;
  -webkit-animation-name: city;
          animation-name: city;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  padding-bottom: 35%;
}

@-webkit-keyframes city {
  100% {
    -webkit-transform: translateX(-1400px);
            transform: translateX(-1400px);
  }
}

@keyframes city {
  100% {
    -webkit-transform: translateX(-1400px);
            transform: translateX(-1400px);
  }
}

._no-webp .work-animation__road {
  background: url(../img/road.jpg) 0 0 repeat-x; }

.work-animation__road {
  position: absolute;
  width: 500%;
  height: 17%;
  bottom: 0px;
  left: 0px;
  display: block;
  z-index: 1;
  -webkit-animation-name: road;
          animation-name: road;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  padding-bottom: 15%;
}

@-webkit-keyframes road {
  0% {
    left: 0px;
  }

  100% {
    left: -1400px;
  }
}

@keyframes road {
  0% {
    left: 0px;
  }

  100% {
    left: -1400px;
  }
}

.avto__car {
  width: 50%;
}

.avto__whil1 {
  display: block;
  position: absolute;
  bottom: 2%;
  left: 37.5%;
  z-index: 3;
  width: 8%;
  -webkit-animation-name: whil, whilStop, whilStart;
          animation-name: whil, whilStop, whilStart;
  -webkit-animation-duration: 1s, 10s, 0.5s;
          animation-duration: 1s, 10s, 0.5s;
  -webkit-animation-delay: 0s, 5s, 10s;
          animation-delay: 0s, 5s, 10s;
  -webkit-animation-timing-function: linear, linear, linear;
          animation-timing-function: linear, linear, linear;
  -webkit-animation-iteration-count: infinite, infinite, infinite;
          animation-iteration-count: infinite, infinite, infinite;
}

.avto__whil1 img {
  width: 100%;
}

.avto__whil2 {
  display: block;
  position: absolute;
  bottom: 1%;
  left: 6.7%;
  z-index: 3;
  width: 8%;
  -webkit-animation-name: whil, whilStop, whilStart;
          animation-name: whil, whilStop, whilStart;
  -webkit-animation-duration: 1s, 10s, 0.5s;
          animation-duration: 1s, 10s, 0.5s;
  -webkit-animation-delay: 0s, 5s, 10s;
          animation-delay: 0s, 5s, 10s;
  -webkit-animation-timing-function: linear, linear, linear;
          animation-timing-function: linear, linear, linear;
  -webkit-animation-iteration-count: infinite, infinite, infinite;
          animation-iteration-count: infinite, infinite, infinite;
}

.avto__whil2 img {
  width: 100%;
}

@-webkit-keyframes whil {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes whil {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes whilStop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes whilStop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  30% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes whilStart {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(1220deg);
            transform: rotate(1220deg);
  }
}

@keyframes whilStart {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(1220deg);
            transform: rotate(1220deg);
  }
}

.avto {
  display: block;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: -1000px;
  width: 100%;
  -webkit-animation-name: car, carstop, carstart;
          animation-name: car, carstop, carstart;
  -webkit-animation-duration: 1s, 10s, 8s;
          animation-duration: 1s, 10s, 8s;
  -webkit-animation-delay: 3s, 2s, 8s;
          animation-delay: 3s, 2s, 8s;
  -webkit-animation-timing-function: linear, linear, ease;
          animation-timing-function: linear, linear, ease;
  -webkit-animation-iteration-count: infinite, 1, 1;
          animation-iteration-count: infinite, 1, 1;
}

@-webkit-keyframes car {
  0% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }

  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes car {
  0% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }

  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@-webkit-keyframes carstop {
  0% {
    left: -1000px;
  }

  30% {
    left: 100px;
  }

  100% {
    left: 100px;
  }
}

@keyframes carstop {
  0% {
    left: -1000px;
  }

  30% {
    left: 100px;
  }

  100% {
    left: 100px;
  }
}

@-webkit-keyframes carstart {
  50% {
    left: 100px;
  }

  60% {
    left: 100px;
    -webkit-transform: rotate(-0.3deg);
            transform: rotate(-0.3deg);
  }

  90% {
    left: 800px;
  }

  100% {
    left: 2000px;
  }
}

@keyframes carstart {
  50% {
    left: 100px;
  }

  60% {
    left: 100px;
    -webkit-transform: rotate(-0.3deg);
            transform: rotate(-0.3deg);
  }

  90% {
    left: 800px;
  }

  100% {
    left: 2000px;
  }
}

._webp .work-animation { background: url(../img/sky.webp) 0 0/cover repeat-x; }

._webp .work-animation__city { background: url(../img/city.webp) 0 0/20% 96% repeat-x; }

._webp .work-animation__road { background: url(../img/road.webp) 0 0 repeat-x; }